@model CustomUser
@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-3">
            <form asp-area="Admin" asp-controller="Account" asp-action="UpdateUser" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="@Model.Name" class="form-label">Name</label>
                    <input asp-for="@Model.Name" class="form-control">
                    <span asp-validation-for="@Model.Name"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Surname" class="form-label">Surname</label>
                    <input asp-for="@Model.Surname" class="form-control">
                    <span asp-validation-for="@Model.Surname"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.RoleId" class="form-label">Name</label>
                    <select class="form-control" aria-label="Default select example" asp-for="@Model.RoleId" asp-items="@(new SelectList(ViewBag.Roles,"Id", "Name"))">
                        <option selected disabled>Select role</option>
                    </select>
                    <span asp-validation-for="@Model.RoleId"></span>
                </div>
                <input asp-for="Id" hidden />

                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Update
                </button>
            </form>
        </div>
    </div>
</div>

